@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Onest Font */
@font-face {
  font-family: 'Onest';
  src: url('./fonts/Onest-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Onest';
  src: url('./fonts/Onest-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('./fonts/Onest-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('./fonts/Onest-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('./fonts/Onest-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('./fonts/Onest-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Apply Onest as default font */
body, html {
  font-family: 'Onest', sans-serif;
}

:root {
  --main-accent-color: #00D5FF;
}
